<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Learn Site</title>
</head>
<body>
     <form action="" method="POST">
          <input type="text" name="title" placeholder="Nhập tiêu đề..." />
          <br />
          <input type="text" name="label" placeholder="Nhập nhãn..."/>
          <br />
          <textarea type="text" cols="50" rows="20" name="messageContent" placeholder="Nhập nội dung tin nhắn..."></textarea>
          <br />
          <input type="text" name="keywords" placeholder="Nhập từ khóa..." />
          <br />
          <input type="checkbox" name="multiMess" /> <label> Nhiều nội dung</label>
          <br />
          <input type="submit" value="Add message" />
     </form>
</body>
</html>