<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Learn Site</title>
</head>
<body>
     <form action="" method="POST">
          <input type="text" name="label" placeholder="Nhập nhãn..." />
          <br />
          <input type="text" name="dataTraining" placeholder="Nhập dữ liệu..." />
          <br />
          <input type="submit" value="Add message" />
     </form>
</body>
</html>